<% content_for :title, "Edição de posto" %>

<h1>Editando posto</h1>

<%= render "form", gas_station: @gas_station %>

<br>

<div>
  <%= link_to "Exibir detalhes do posto", @gas_station %> |
  <%= link_to "Voltar para postos", gas_stations_path %>
</div>
