<div id="<%= dom_id pump %>">
  <p>
    <strong>Tipo combustível:</strong>
    <%= pump.fuel_type %>
  </p>

  <p>
    <strong>Capacidade:</strong>
    <%= pump.capacity %>
  </p>

  <p>
    <strong>Posto:</strong>
    <%= pump.gas_station.name %>
  </p>

</div>
