<div id="<%= dom_id pump %>">
  <p>
    <strong>Fuel type:</strong>
    <%= pump.fuel_type %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= pump.capacity %>
  </p>

  <p>
    <strong>Gas station:</strong>
    <%= pump.gas_station_id %>
  </p>

</div>
