<% content_for :title, "Editar bomba" %>

<h1>Edição de bomba</h1>

<%= render "form", pump: @pump %>

<br>

<div>
  <%= link_to "Exibir bombas", @pump %> |
  <%= link_to "Voltar para bombas", pumps_path %>
</div>
