<p style="color: green"><%= notice %></p>

<% content_for :title, "Bombas" %>

<h1>Bombas</h1>

<div id="pumps">
  <% @pumps.each do |pump| %>
    <%= render pump %>
    <p>
      <%= link_to "Exibir bomba", pump %>
    </p>
  <% end %>
</div>

<%= link_to "Nova bomba", new_pump_path %>
