<nav>
    <ul>

        <li><a href="<%=new_gas_station_path%>">Novo Posto</li>
        <li><a href="<%= new_pump_path %>">Nova Bomba</a></li>
        <li><a href="<%=gas_stations_path%>">Lista de Postos</li>
        <li><a href="<%= pumps_path %>">Lista de Bombas</a></li>

    </ul>
</nav>